<footer class="footer">
  Encontranos en: 
  <i class="fa fa-facebook-official"></i>
  <i class="fa fa-instagram"></i>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Modernizr javascript -->
<script type="text/javascript" src="assets/plugins/modernizr.js"></script>

<!-- Isotope javascript -->
<script type="text/javascript" src="assets/plugins/isotope/isotope.pkgd.min.js"></script>

<!-- Backstretch javascript -->
<script type="text/javascript" src="assets/plugins/jquery.backstretch.min.js"></script>

<!-- Appear javascript -->
<script type="text/javascript" src="assets/plugins/jquery.appear.js"></script>

<!-- Initialization of Plugins -->
<script type="text/javascript" src="assets/js/template.js"></script>

